@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
  scroll-behavior: smooth;
  scroll-margin-top: 2rem;
}

html, body{
  @apply h-full min-h-screen;
}

*:focus {
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  outline: none !important;
}

@media only screen and (max-width: 425px) {
  html {
    font-size: 14px;
  }
}


::-webkit-scrollbar {
  @apply w-[6px];
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 1px hsl(0, 0%, 30%); */
  @apply rounded-lg bg-base-100;
}

::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-base-content-2/50;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-base-content-2/70;
}


button, a{
  @apply focus-visible:ring-2 focus-visible:ring-gray-300 !important;
}

.input,.textarea {
  @apply focus:ring-2 focus:ring-gray-300;
  @apply focus-within:ring-2 focus-within:ring-gray-300;
}

.scrollbar-hidden::-webkit-scrollbar{
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/* 
* {
  margin: 0;
  font-size: 20px;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  background: #1c212b;
}

.text-content {
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
}

/* use https://github.com/josephschmitt/Clamp.js for polyfill */

/* .text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
} */ 
